<label for="preg" class="rem">Pregunta:</label>
<input type="text" name="quiz[pregunta]" id="preg" value="<%= quiz.pregunta %>" /><p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" name="quiz[respuesta]" id="resp" value="<%= quiz.respuesta %>" /><p>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">
